alembic==1.7.7
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.0.12
dataclasses==0.8
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
Mako==1.1.6
MarkupSafe==2.0.1
pydantic==1.9.1
requests==2.27.1
scraperwiki==0.5.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.37
typing-extensions==4.1.1
urllib3==1.26.9
zipp==3.6.0
